In [2]:
import pandas as pd

In [ ]:
# Read and prepare the dataset
df = pd.read_csv(
    "datasets/Customer-Churn-Records.csv",
    header=0,
    na_values="NA",
    comment="\t",
    sep=",",
    skipinitialspace=True,
    encoding='utf-8'    # Added encoding to handle special characters
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RowNumber           10000 non-null  int64
 1   CustomerId          10000 non-null  int64
 2   Surname             10000 non-null  object
 3   CreditScore         10000 non-null  int64
 4   Geography           10000 non-null  object
 5   Gender              10000 non-null  object
 6   Age                 10000 non-null  int64
 7   Tenure              10000 non-null  int64
 8   Balance             10000 non-null  float64
 9   NumOfProducts       10000 non-null  int64
 10  HasCrCard           10000 non-null  int64
 11  IsActiveMember      10000 non-null  int64
 12  EstimatedSalary     10000 non-null  float64
 13  Exited              10000 non-null  int64
 14  Complain            10000 non-null  int64
 15  Satisfaction Score  10000 non-null  int64
 16  Card Type           10000 non-null  object
 17  Point Earned        10000 non-null  int64
dtypes: float64(2), int64(12), object(4)
memory usage: 1.4+ MB

In [ ]:
# Drop unnecessary columns to avoid noise in the model
df.drop(
    columns=[
        "RowNumber",
        "CustomerId",
        "Surname",
        "Complain",
        "Satisfaction Score",
        "Card Type",
        "Point Earned",
    ],
    inplace=True,   # Added inplace=True to modify df directly
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [10]:
X = df.drop(columns=["Exited"])
y = df["Exited"]

In [11]:
# dict = {'France': 1, 'Germany': 2, 'Spain': 3, "Female": 0, "Male": 1}
# X = X.replace(dict, inplace=True)
# The using above approach is commented out. Instead, we use the mapping below.

# Encode categorical variables
X['Geography'] = X['Geography'].map({'France': 1, 'Germany': 2, 'Spain': 3})
X['Gender'] = X['Gender'].map({"Female": 0, "Male": 1})